# CONFIG_CPU_MITIGATIONS is not set
# CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT is not set
CONFIG_DEBUG_INFO_NONE=y
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_ZSTD=y
CONFIG_LOCALVERSION="-wild-WSL2"
CONFIG_SQUASHFS_ZSTD=y
# CONFIG_ADDRESS_MASKING is not set
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
